---
import '@assets/styles.css';
const { titleEn, titleJa,  description, keywords} = Astro.props;
let metaTitle = 'NicoNoClaste : Web developer / ウェブデベロッパー';


let metaTitleJa, metaTitleEn = metaTitle;

if(titleEn !== ''){
	metaTitleEn = titleEn + ' | ' + metaTitle;
}
if(titleJa !== ''){
	metaTitleJa = titleJa + ' | ' + metaTitle;
}

metaTitle = metaTitleEn;
// if(language == 'ja'){
// 	metaTitle = metaTitleJa;
// }

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.png" />
	<link rel="apple-touch-icon" href="/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{metaTitle}</title>
	<meta name="enTitle" content={metaTitleEn} />
	<meta name="jaTitle" content={metaTitleJa} />
	<meta name="description" content={description} />
	<meta name="keywords" content={keywords} />
</head>
<body id="top">
<slot />
</body>
</html>